.dotted{
    border-color: #20b2aa;
    width:100%;
    font-style: italic;
    font-family: monospace;
    font-size: 32px;
    align-content: center;
    
}
.text-center{
    font-size:20px;
    font-family: Zapf Chancery, cursive;
   
}
.center{
    margin: auto;
}
 p.dotted {
     border-style: dotted;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
a{
  color:#ffa07a;
}
a:hover{
  color:#fff;
}
.mark, mark{
  background-color: rgba(244, 67, 54, 0.3);
}
.container-wrapper{
  margin:5% auto;
}
.left-panel .img-wrap img {
  width: 67%;
    height: 95%;
    
    
}
.head-panel{
  margin-bottom:30px;
}
.full-panel{
    width: 98%;
}
ul {
  list-style: none;
  padding: 0;
    font-size: 15px;
}
ul li {
  display: table;
  margin-bottom: 8px;
}
ul li span {
  background-color: grey;
  min-height: 40px;
  height: 100%;
  width: 75px;
  line-height: 40px;
  display: table-cell;
  color: #fff;
  font-size: 15px;
  text-align: center;
}
ul li p {
  padding-left: 20px;
  height: 40px;
  line-height: 21px;
  display: table-cell;
  vertical-align: middle;
}
ul .divider {
  text-align: center;
  color: #fff;
  margin: 25px auto;
  background-color: orangered;
  padding: 4px;
    font-family: sans-serif;
}
blockquote {
  border-left: 5px solid #009688;
  font-size: 19px;
}
.font21 {
  font-size: 30px;
  text-align: center;
    font-family: sans-serif bold;
    font-style: oblique;
    
}
footer,
header {
  background-color: #009688;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
  padding: 5px;
}
@media (min-width:1200px) {
  blockquote:first-child{
    font-size: 30px;
  }
  blockquote span{
  background-color: #f44336;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
}
}
@media (min-width:992px) and (max-width:1199px) {
  blockquote:first-child{
    font-size: 25px;
  }
  blockquote span{
  background-color: #f44336;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
}
}
@media (max-width:700px) {
  blockquote {
    border-left: 0 solid #009688;
    padding: 5px 10px;
  }
}
